*.exe
*.mp4
/__pycache__
/ffmpeg

!/resources/pypendula_n3_00.mp4
!/resources/pypendula_n3_01.mp4
!/resources/pypendula_n3_02.mp4
!/resources/pypendula_n3_03.mp4
!/resources/pypendula_n3_04.mp4
!/resources/pypendula_n3_05.mp4
!/resources/pypendula_n3_06.mp4
!/resources/pypendula_n3_07.mp4
!/resources/pypendula_n3_08.mp4
!/resources/pypendula_n3_09.mp4
!/resources/pypendula_n3_10.mp4
!/resources/pypendula_n3_11.mp4
