*.exe
*.mp4
*.png
/__pycache__
/ffmpeg

!/results/pypendula_n1_ex1.mp4
!/results/pypendula_n1_ex2.mp4
!/results/pypendula_n2_ex1.mp4
!/results/pypendula_n2_ex2.mp4
!/results/pypendula_n3_ex1.mp4
!/results/pypendula_n3_ex2.mp4
